ul.p-shareList
  li.p-shareList__item
    a.p-shareLink__link.-fb(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=#{escaped_permalink}') Facebookでシェアする
  li.p-shareList__item
    a.p-shareLink__link.-tw(target='_blank', href='https://twitter.com/intent/tweet?text=#{escaped_title}&url=#{escaped_permalink}') ツイートする
  li.p-shareList__item
    a.p-shareLink__link.-ht(target='_blank', href='http://b.hatena.ne.jp/my/add.confirm?title=#{escaped_title}&url=#{escaped_permalink}') はてなでブックマークを追加する
